.powermenu {
  padding: 18px 32px;
  background: rgba(20, 20, 20, 0.9);
  border-radius: 20px;
}

.pm-btn {
  padding: 20px 40px 20px 32px;
  font-size: 3rem;
  color: #cdd6f4;
  background: transparent;
}

.pm-btn:hover {
  background: #313244;
  color: #cdd6f4;
}
