
* {
    background: rgba(23, 26, 33, 1);
    background-alt: rgba(31, 35, 43, 1);
    foreground: #cdd6f4;
    selected-text: rgba(227, 66, 101, 1);

    foreground-alt: #cdd6f4;
    accent:rgba(169, 177, 214, 0.5);
    border-radius: 20px;
    padding: 8px;
    spacing: 16px;
}

window {
    width: 600px;
    height: 280px;
    background-color: @background;
    border: 2px;
    border-color: @accent;
    border-radius: @border-radius;
}

mainbox {
    padding: 20px;
    spacing: 20px;
    background-color: transparent;
}

inputbar {
    children: [ prompt, entry ];
    background-color: @background-alt;
    border-radius: 14px;
    padding: 12px;
}

prompt {
    enabled: false;
}

entry {
    placeholder: "Search apps…";
    text-color: @foreground;
    background-color: transparent;
}

listview {
    columns: 3;
    lines: 2;
    layout: vertical;
    spacing: 20px;
    background-color: transparent;
    fixed-height: false;
}

element {
    orientation: vertical;
    padding: 14px;
    border-radius: 16px;
    spacing: 0px;
    background-color: transparent;
}

element-icon {
    size: 40px;
    horizontal-align: 0.5;
    background-color: transparent;
}

element-text {
    horizontal-align: 0.5;
    vertical-align: 0.5;
    background-color: transparent;
    text-color: @foreground-alt;
}

element selected {
    background-color: @background-alt;
}

element selected element-icon {
    saturation: 1;
}

scrollbar {
    enabled: false;
}
