@define-color bg      #1a1b26;
@define-color fg      #c0a6e4;
@define-color border  #5c6178;

/* Tokyo night colors */
@define-color black   #1a1b26;
@define-color red     #f7768e;
@define-color green   #73daca;
@define-color yellow  #e0af68;
@define-color blue    #7aa2f7;
@define-color magenta #bb9af7;
@define-color cyan    #7dcfff;
@define-color white   #c0caf5;
