@import "./colors.css";
* {
  font-family: "JetBrainsMonoNerdFont", monospace;
  font-size: 14px;
}

window#waybar {
  background-color: alpha(@bg, 0.4);
}

#workspaces button {
  border: none;
  margin: 0px 4px;
  padding: 0px 4px 0px 10px;
  color: @white;
}

#workspaces {
  margin: 6px 0px 6px 20px;
  border-radius: 50px;
  padding: 0px 12px;
  background-color: alpha(@bg, 0.4);
  border: 1px solid @border;
}

#workspaces button.active {
  color: @red;
}

#pulseaudio {
  color: @green;
  padding: 5px 16px;
  border-radius: 12px;
  margin: 6px 0px 6px 20px;
  background-color: alpha(@bg, 0.4);
  border: 1px solid @border;
}

#pulseaudio.muted {
  color: @red;
}

#network {
  color: @blue;
  padding: 5px 16px;
  border-radius: 12px;
  margin: 6px 20px 6px 20px;
  background-color: alpha(@bg, 0.4);
  border: 1px solid @border;
}

#tray {
  color: @fg;
  padding: 5px 16px;
  border-radius: 12px;
  margin: 6px 0px 6px 20px;
  background-color: alpha(@bg, 0.4);
  border: 1px solid @border;
}

#clock {
  color: @white;
  padding: 5px 16px;
  border-radius: 12px;
  margin: 6px 0px 6px 20px;
  background-color: alpha(@bg, 0.4);
  border: 1px solid @border;
}

#custom-lang {
  color: @yellow;
  padding: 5px 16px;
  border-radius: 12px;
  margin: 6px 0px 6px 20px;
  background-color: alpha(@bg, 0.4);
  border: 1px solid @border;
}

#custom-updates {
  color: @red;
  padding: 5px 16px;
  border-radius: 12px;
  margin: 6px 0px 6px 20px;
  background-color: alpha(@bg, 0.4);
  border: 1px solid @border;
}

#custom-network_speed {
  color: @magenta;
  padding: 5px 16px;
  border-radius: 12px;
  margin: 6px 20px 6px 20px;
  background-color: alpha(@bg, 0.4);
  border: 1px solid @border;
}

#custom-launcher {
  /* BLue archlinux  */
  color: @blue;
  margin: 6px 0px 6px 20px;
  padding: 5px 10px 5px 14px;
  border-radius: 12px;
  background-color: alpha(@bg, 0.4);
  border: 1px solid @border;
}

#taskbar {
  padding: 5px 10px 5px 14px;
}

#taskbar button {
  padding: 5px 10px 5px 14px;
}

#taskbar button.active {
  background-color: alpha(@bg, 0.4);
  border: 1px solid @border;
  border-radius: 12px;
}

#memory {
  color: @blue;
  padding: 5px 16px;
  border-radius: 12px;
  margin: 6px 0px 6px 20px;
  background-color: alpha(@bg, 0.4);
  border: 1px solid @border;
}
