* {
  font-family: "JetBrainsMonoNerdFont", monospace;
  font-size: 14px;
}

window#waybar {
  background-color: rgba(14, 15, 20, 0.4);
  border: none;
}

#workspaces button {
  border: none;
  margin: 0px 4px;
  padding: 0px 4px 0px 10px;
  color: #a9b1d6;
}

#workspaces {
  margin: 6px 0px 6px 20px;
  border-radius: 50px;
  padding: 0px 12px;
  background-color: rgba(26, 27, 38, 0.4);
  border: 1px solid #5c6178;
}

#workspaces button.active {
  color: #fa5299;
}

#clock {
  color: #ffffff;
}

#pulseaudio {
  color: #a6e3a1;
  padding: 5px 16px;
  border-radius: 12px;
  margin: 6px 0px 6px 20px;
  background-color: rgba(26, 27, 38, 0.4);
  border: 1px solid #5c6178;
}

#pulseaudio.muted {
  color: #f38ba8;
}

#network {
  color: #dd80ed;
  padding: 5px 16px;
  border-radius: 12px;
  margin: 6px 20px 6px 20px;
  background-color: rgba(26, 27, 38, 0.4);
  border: 1px solid #5c6178;
}

#tray {
  color: #8383e6;
  padding: 5px 16px;
  border-radius: 12px;
  margin: 6px 0px 6px 20px;
  background-color: rgba(26, 27, 38, 0.4);
  border: 1px solid #5c6178;
}

#clock {
  color: #f38ba8;
  padding: 5px 16px;
  border-radius: 12px;
  margin: 6px 0px 6px 20px;
  background-color: rgba(26, 27, 38, 0.4);
  border: 1px solid #5c6178;
}

#custom-lang {
  color: #80afed;
  padding: 5px 16px;
  border-radius: 12px;
  margin: 6px 0px 6px 20px;
  background-color: rgba(26, 27, 38, 0.4);
  border: 1px solid #5c6178;
}

#custom-updates {
  color: #f9e2af;
  padding: 5px 16px;
  border-radius: 12px;
  margin: 6px 0px 6px 20px;
  background-color: rgba(26, 27, 38, 0.4);
  border: 1px solid #5c6178;
}

#custom-network_speed {
  color: #d6acf2;
  padding: 5px 16px;
  border-radius: 12px;
  margin: 6px 20px 6px 20px;
  background-color: rgba(26, 27, 38, 0.4);
  border: 1px solid #5c6178;
}

#custom-launcher {
  /* BLue archlinux  */
  color: #80afed;
  margin: 6px 0px 6px 20px;
  padding: 5px 10px 5px 14px;
  border-radius: 12px;
  background-color: rgba(26, 27, 38, 0.4);
  border: 1px solid #5c6178;
}

#taskbar {
  color: #80afed;
  padding: 5px 10px 5px 14px;
}

#taskbar button {
  padding: 5px 10px 5px 14px;
}

#taskbar button.active {
  background-color: rgba(26, 27, 38, 0.4);
  border: 1px solid #5c6178;
  border-radius: 12px;
}

#memory {
  color: #bb9af7;
  padding: 5px 16px;
  border-radius: 12px;
  margin: 6px 0px 6px 20px;
  background-color: rgba(26, 27, 38, 0.4);
  border: 1px solid #5c6178;
}
